.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#main_content_container {
  margin-top: 70px;
}

.App-header {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

#main_content_container {
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-to-cart, .added {
  background-color: #f5b63d;
  color: white;
  font-size: 20px;
  border: 0;
  /* outline: none; */
  margin: 0 20px;
  padding: 10px 40px;
  opacity: 0.8;
  width: 200px;
}

.add-to-cart:hover {
  opacity: 1;
  font-weight: 900;
}

.added {
  background: green;
}
